<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="randomNameA" type="AmazonProduct.WCF.AmazonSigningBehaviorExtensionElement, AmazonProduct.WCF, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="randomNameB">
          <randomNameA AmazonAccessKeyId="03W6RP0TG4BPK9P84S02" AmazonSecretKey="WG6rXo98GWQtw4P4U3FU0Tx8Ve3T4IXJJ7t39Hjx"
                       AmazonSecurityNamespace="http://security.amazonaws.com/doc/2007-01-01/"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
</configuration>