@* Inject the service that allows searching for localized strings *@
@inject BestFor.Services.Services.IResourcesService resourcesService

        Hello, Guest! You landed here because some of the site features are available only to registered users.<br />
        It will only take a minute.<br />
        Some of the cool perks registration will give you:<br />
        <ul>
            <li>flagging opinions</li>
            <li>flagging opinion descriptions</li>
            <li>voting for your favorite opinions</li>
            <li>voting for your favorite opinion descriptions</li>
        </ul>
