@* Inject the service that allows searching for localized strings *@
@inject BestFor.Services.Services.IResourcesService resourcesService
Hello, Guest! You landed here because some of the features of this site are available only to registered users.<br />
It will only take a minute.<br />
Some of the cool perks registration will give you <br />
<ul>
    <li>flagging posts</li>
    <li>voting for your favorite answers</li>
</ul>
