@Html.Partial("Menu")
Edit Answer. Type in answerId you want to edit.<br /><br />
<form asp-controller="Admin" asp-action="ShowAnswer" method="post" role="form">
    <input name="answerId" type="text"/><br /><br />
    <button type="submit">Find Answer</button>
</form>