<a href="/admin/index">Admin Home</a>&nbsp;|&nbsp;
<a href="/admin/editanswer">Edit Answer</a>&nbsp;|&nbsp;
<a href="/admin/listblankanswer">Blank Answers</a>&nbsp;|&nbsp;
<a href="/admin/listblankdescription">Blank Descriptions</a>&nbsp;|&nbsp;
<a href="/admin/listuser">Users</a><br />
