@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    // ViewBag.Title = "Home Page";
// <SuggestionTextBox onUserTyping={this.handleUserTyping} textValue={this.state.currentValue} />
}
<p>SuggestionTextBox.</p>
@Html.React("SuggestionTextBox", new { textValue = "Hello" })
