<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @Html.Partial("CurrentUser")


    @* Html.React("MenuControl", new { }) *@
    @RenderBody()
    @Html.Partial("Menu")
</body>
</html>
