@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div>
    <div>
        <!--<a href="/home/index">English</a>&nbsp;&nbsp;
        <a href="/ru-RU/home/index">Русский</a>&nbsp;&nbsp;
        <a href="/fi-FI/home/index">Finnish</a>&nbsp;&nbsp;
        <a href="/admin/index">Admin</a>&nbsp;&nbsp;
        <a href="/tests/index">Tests</a>-->
    </div>
</div>