<div class="best-light-small-text">
    <br />
    <br />
    <br />
    <br />
    Need help? Here is how it works.<br />

    Add the first phrase (example: computer), than the second phrase (example: teenager).
    You will see most popular opinions about "best computer for teenager".
    Pick an existing opinion if it matches yours or use the third box to express your opinion.
    Click "Add" to save.<br /><br />
    More help
</div>