@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div style="float:left;text-align:left">
    <a href="/@ViewBag.BestForCulture/home/index">Home</a>&nbsp;&nbsp;
</div>