body {
    /* background-color: green */
}


/* Panel that drops a shadow */
.best-panel-shadow
{
    box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.3)
}

span.best-span-round-label
{
    background-color: darkseagreen;
    border-radius: 3px 3px;
    padding-bottom: 6px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 6px;
    margin-left: 3px
}

div.best-div-fluid /* contains best-span-round-label labels */
{
    line-height: 50px;
}
