@* This view shows information abou the currently logged in user. *@

@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="best-top-right-bar">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="dropdown">
            <button class="btn dropdown-toggle" type="button" id="accountDropdownMenu" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="true">
                <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            </button>
            <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="accountDropdownMenu">
                <li><a class="best-user-menu" asp-controller="Account" asp-action="ViewProfile" title="Manage">@UserManager.GetUserName(User)</a></li>
                <li>
                    <form asp-controller="Account" asp-action="LogOff" method="post" id="logoutForm">
                        <button type="submit" class="btn btn-link">Log off</button>
                    </form>
                </li>
            </ul>
        </div>
    }
    else
    {
        <a class="best-light-link" asp-controller="Account" asp-action="Register">Register</a>
        <span>&nbsp;</span>
        <a class="best-light-link" asp-controller="Account" asp-action="Login">Log in</a>
    }
</div>