@model BestFor.Models.ErrorViewModel
@* Inject the service that allows searching for localized strings *@
@inject BestFor.Services.Services.IResourcesService resourcesService
@{
    string errorString = await resourcesService.GetString(ViewBag.BestForCulture, "error_capital");
    string errorGeneralString = await resourcesService.GetString(ViewBag.BestForCulture, "error_page_general_message");

    ViewData["Title"] = errorString;
}

<h1 class="text-danger">@errorString</h1>
<h2 class="text-danger">@errorGeneralString</h2>
@if (Model != null && Model.ErrorMessages != null)
{
    foreach (var error in Model.ErrorMessages)
    {
        <h2 class="text-danger">@error</h2>
    }
}

