@using BestFor.Dto
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
// ViewBag.Title = "Home Page";
}
<p>SuggestionResultList.</p>

@{ 
    /* onListClicked is also a property
    <SuggestionResultList suggestions={this.state.suggestionsData}
    listTop ={ this.state.listTop}
    listLeft ={ this.state.listLeft}
    onListClicked ={ this.handleListClicked}
    isVisible ={ this.state.showList} /> */

    var data = new SuggestionDto[] {
        new SuggestionDto() { Phrase = "A" },
        new SuggestionDto() { Phrase = "B" },
        new SuggestionDto() { Phrase = "C" },
        new SuggestionDto() { Phrase = "D" }
    };
}
@Html.React("SuggestionResultList", new { suggestions = data, listTop = 80, listLeft = 50, isVisible = true })

